@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    main {
        @apply font-mono text-white text-center;
    }

    h1 {
        @apply text-6xl;
    }
    h2 {
        @apply text-4xl;
        @apply text-4xl;
    }
    h3 {
        @apply text-3xl mb-2;
    }
    p {
        @apply text-xl;
    }

    a {
        @apply text-neutral-600 hover:text-neutral-400 transition;
    }

    .dashboard-block {
        @apply bg-neutral-700 flex-1 flex flex-col justify-between p-4 rounded-lg border border-neutral-600;
        @apply hover:border-neutral-500 transition;
    }


    table {
        @apply text-base;
    }
    td, th {
        @apply px-4;
    }
    .hidden-cell {
        @apply hidden lg:table-cell;
    }
}

@property --percentage {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}
@property --year {
    syntax: "<integer>";
    initial-value: 2023;
    inherits: false;
}
@property --ec-got {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}
@property --ec-failed {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}
@property --ec-todo {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

@keyframes percentageCounter {
    from {
        --percentage: 0;
        color: rgb(220 38 38);
    }
    to {
        --percentage: 82;
        color: rgb(34 197 94);
    }
}
@keyframes percentageCounterSterrenkunde {
    from {
        --percentage: 0;
        color: rgb(220 38 38);
    }
    to {
        --percentage: 50;
        color: rgb(250 204 21);
    }
}
@keyframes percentageCounterSoham {
    from {
        --percentage: 0;
        color: rgb(220 38 38);
    }
    to {
        --percentage: 100;
        color: rgb(34 197 94);
    }
}

@keyframes counter {
    from {
        --year: 2023;
        --ec-got: 0;
        --ec-failed: 0;
        --ec-todo: 0;
    }
    to {
        --year: 2027;
        --ec-got: 25;
        --ec-failed: 15;
        --ec-todo: 140;
    }
}
@keyframes counterSterrenkunde {
    from {
        --year: 2023;
        --ec-got: 0;
        --ec-failed: 0;
        --ec-todo: 0;
    }
    to {
        --year: 2029;
        --ec-got: 0;
        --ec-failed: 0;
        --ec-todo: 180;
    }
}
@keyframes counterSoham {
    from {
        --year: 2023;
        --ec-got: 0;
        --ec-failed: 0;
        --ec-todo: 0;
    }
    to {
        --year: 2027;
        --ec-got: 11;
        --ec-failed: 0;
        --ec-todo: 169;
    }
}
